.Table__container{
    height: 600px;
}

.Paper_container{
    width: 100%;
}

.Container__header{
    margin-bottom: 40px;
}

.Container__header_row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
}