.Table__container{
    min-height: 600px;
    border-radius: 8px;
}

.Paper_container{
    width: 100%;
    border-radius: 8px !important;
}

.Container__header{
    margin-bottom: 40px;
}

.Container__header_row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
    align-items: center;
}