.Table__container{
    height: 600px;
}

.Paper_container{
    width: 100%;
}

.Container__header{
    margin-bottom: 40px;
}

.Container__header_row{
    display: flex;
}
.Container__header_row_button{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}